* {
	padding: 0;
}
li {
	text-decoration: none;
}
a {
	list-style-type: none;
	text-decoration: none;
}
.encabezado {
	background-color: grey;
	background-image: lin;
}
.encabezadoNav ul li a:hover{
	font-size: 13px;
	font-family: sans-serif;
	transform: translate(0px, -50px);
}
.pieNav ul li a:hover{
	font-size: 13px;
	font-family: sans-serif;
}
@keyframes animacion {
	0% {width: 100px;}
	25% {height: 100px;}
	50% {transform: rotate(45deg);}
	75% {widows:100px;}
	100% {width: 100px;}
}
.encabezadoLogoTxt {
	animation-name: animacion;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-delay: 2s;
}